@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

body {
    background-color: black;
    color: white;
}

#title {
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
    font-size: large;
    color: pink;
    font-family: 'Skranji', cursive;
}

h1 {
    text-align: center;
    font-family: 'Skranji', cursive;
}

#trailer {
    display: block;
    margin: auto;
    width: 560px;
    height: 315px;
}